html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe is black */
    background-color: black;
    overflow: hidden;
}

#sun {
   position: absolute;
    top: 50%;
    left: 50%;

    height: 100px;
    width: 100px;
    margin-top: -100px; 
    margin-left: -100px;

    border-color: orange;
    border-radius: 50%;
    background-color: orange;
    box-shadow: 0 0 128px red;
    animation: sunColor 100ms infinite, sunShadow 100ms infinite;
    -moz-animation: sunColor 100ms infinite, sunShadow 100ms infinite;
    -webkit-animation: sunColor 100ms infinite, sunShadow 100ms infinite;
}

#earth {
    /* Style your earth */
    
    position: absolute;
    top: 0;
    left: 50%;

    border-radius: 50%;
    background-color: blue;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    margin-top: -15px;
}

#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 600px;
    height: 450px;
    margin-top: -200px;
    margin-left: -225px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    
    -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
    
    
}

#moon{
    border-radius: 50%;
    margin-top:20px;
    width:10px;
    height:10px;
    background-color:#fff;
}

#moon-orbit {
    position: absolute;
    top: 0;
    left: 50%;

    width: 100px;
    height: 80px;
    margin-top: -50px;
    margin-left: -50px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}




@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



@-moz-keyframes sunColor /* Firefox */
{
  0%   {background:orange;}
  50%  {background:yellow;}
  100%   {background:orange;}
}

@-webkit-keyframes sunColor /* Safari and Chrome */
{
  0%   {background:orange;}
  50%  {background:yellow;}
  100%   {background:orange;}
}

@-moz-keyframes sunShadow /* Firefox */
{
  0%   {box-shadow: 0 0 128px orange;}
  50%  {box-shadow: 0 0 128px yellow;}
  100%   {box-shadow: 0 0 128px orange;}
}

@-webkit-keyframes sunShadow /* Safari and Chrome */
{
  0%   {box-shadow: 0 0 128px orange;}
  50%  {box-shadow: 0 0 128px yellow;}
  100%   {box-shadow: 0 0 128px orange;}
}